* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #2F80ED;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #BDBDBD;
  border-radius: 24px;
  align-items: center;
  gap: 30px;
  margin: 40.42px 58.57px;
  padding: 48.42px 58.57px;
  max-width: 473.83px;
}

.form .logo {
  width: 18px;
}

.form div {
  width: 100%;
  min-width: 354.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-style: normal;
  letter-spacing: -0.035em;
  color: #333333;
}

.form div:nth-last-child(1) {
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

.form .logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: #282051;
  font-weight: 600;
}

.form div h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.form div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.form div input {
  width: 100%;
  padding: 13px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  outline: none;
}

.form div button {
  width: 100%;
  padding: 6px 0;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  background: #2F80ED;
  cursor: pointer;
}

.form .google-icon {
  width: 27px;
}